/* FORM PAGES */


      .form {
        text-align:center;
        margin: 0 auto 10px;
        padding-top: 15px;
        font-size: 16px;
        width: 300px;
      }

      input[type=text],
      input[type=email],
      input[type=password] {
        color: #666666;
        width: 100%;
        border: 1px solid #E6E6E6;
        border-radius: 0px; 
        height: 60px;
        margin: 6px auto;
        text-indent: 10px;
      }

      .btn-submit {
        color: #FFFFFF;
        font-size: 18px;
        text-transform: uppercase;
        background: #c91717;
        padding: 10px 20px;
        border: 0;
        margin-top: 6px;
      }
        
      /*  RESPONSIVE */

      @media screen and (max-width: 992px) {
        .img-container img {
          width: 100%;
        }
      }

      @media screen and (max-width: 512px) {
        .pull-right {
          background-color: #f1f2f2;
          position: relative;
          margin: 0;
          width: 100%;
        }

        .pull-right ul {
          margin: 0;
          -webkit-margin-after: 0;
          -webkit-margin-before: 0;
          -webkit-padding-start: 0;
        }

        .pull-right ul li {
          display: block;
          float: left;
          margin: 0;
          padding: 20px 0;
          text-align: center;
          width: 50%;
        }

        .pull-right ul li a {
          display: block;
          width: 100%;
        }

        .img-container {
          height: 200px;
        }
      }

      

    #tf-team{
    background: url(/assets/Downtown-San-Francisco-e9e0a4b319825f9e7f0fb6b4279a55493e5397fefcf00d06a63c723ed0944c04.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
  }
  #tf-team .overlay{ /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
    background: -webkit-gradient(linear,  left top, left bottom,  from(rgba(0,0,0,0.8)),color-stop(17%, rgba(0,0,0,0.73)),color-stop(35%, rgba(0,0,0,0.66)),color-stop(62%, rgba(0,0,0,0.55)),to(rgba(0,0,0,0.4)));
    background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
    height: auto;
    background-attachment: fixed;
    padding: 7.01% 0;
  }
  .section-title.center{
   
  }
  .section-title h2,
  .section-title.center h2{
    font-weight: 300;
  }
  .section-title.center .line{
    border-top: 4px solid #fcac45;
    height: 10px;
    width: 60px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }

  .section-title.center hr {
    border-top: 4px solid rgba(252, 172, 69, 0.34);
    width: 40px;
    text-align: center;
    margin-top: 10px;
    position: relative;
    left: 17%;
  }
  #team{ margin: 0 auto}
  #team .item{
      padding: 0;
      margin: 15px;
      color: #FFF;
      text-align: center;
  }

  #white{
    color: white;
  }

  p{
    color: white;
    font-family:'Voltaire',Arial,sans-serif;  
    font-size: 20px;
  }

  .FacebookButton {
  -webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
  box-shadow:inset 0px 1px 0px 0px #7a8eb9;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #637aad), to(#5972a7));
  background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
  background-color:#637aad;
  border:1px solid #314179;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}
.FacebookButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #5972a7), to(#637aad));
  background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
  background-color:#5972a7;
}
.FacebookButton:active {
  position:relative;
  top:1px;
}

.TwitterButton {
  -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
  box-shadow: 0px 1px 0px 0px #f0f7fa;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #33bdef), to(#019ad2));
  background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
  background-color:#33bdef;
  border-radius:6px;
  border:1px solid #057fd0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:5px 19px;
  text-decoration:none;
  text-shadow:0px -1px 0px #5b6178;
}
.TwitterButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #019ad2), to(#33bdef));
  background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
  background-color:#019ad2;
}
.TwitterButton:active {
  position:relative;
  top:1px;
}
.GoogleButton {
  -webkit-box-shadow:inset 0px 1px 0px 0px #cf866c;
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #d0451b), to(#bc3315));
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0451b', endColorstr='#bc3315',GradientType=0);
  background-color:#d0451b;
  border-radius:3px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 22px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
}
.GoogleButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(5%, #bc3315), to(#d0451b));
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc3315', endColorstr='#d0451b',GradientType=0);
  background-color:#bc3315;
}
.GoogleButton:active {
  position:relative;
  top:1px;
}

nav#footer .fnav{ 
  vertical-align: middle;
}
ul.footer-social li{
  display: inline-block;
  margin: 5px;
}
