<% provide(:title, "Sort by A-Z") %>

<%= render 'jumbotron' %>

  <div class="container">
    <div id="player-wrapper"></div>
    <div class="row">
      <%= render 'videos/sort' if !@videos.empty?%>
      <br>
      <%= render @videos %>
    </div>
  </div>