<% if object.errors.any? %>
  <div class="panel panel-danger col-lg-6 col-lg-offset-3">
    <div class="panel-heading">
      <h3 class="panel-title">The following errors were found while submitting the form:</h3>
    </div>

    <div class="panel-body" class="text-center" style="color: red;">
      <% object.errors.full_messages.each do |msg| %>
        - <%= msg %>
      <% end %>
    </div>
  </div>
<% end %>