<!-- Footer -->
  <nav id="footer">
    <div class="container">
      <div class="pull-left fnav">
        <p>COPYRIGHT © <span class="emphasize">VIDEDU</span>, ALL RIGHTS RESERVED</p>
      </div>
      <div class="pull-right fnav">
        <ul class="footer-social">
          <li><a href="https://www.facebook.com/VidEduCSC667" target="blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://github.com/Twinpair/VidEdu" target="blank"><i class="fa fa-github"></i></a></li>
          <li><a class="reverse-a-color" href="https://drive.google.com/file/d/0B-4Vah9LEYrLNDhjay13NXA2V1E/view?usp=sharing" target="blank">View Documentation</a></li>
        </ul>
      </div>
    </div>
  </nav>