<!-- Footer -->
  <nav id="footer">
    <div class="container">
      <div class="pull-left fnav">
        <p>ALL RIGHTS RESERVED. VidEdu © SFSU, CSC 667 Internet Application Design and Development</p>
      </div>
      <div class="pull-right fnav">
        <ul class="footer-social">
          <li><a href="https://www.facebook.com/VidEduCSC667" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://github.com/Twinpair/VidEdu" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a id="docs" href="https://drive.google.com/file/d/0B-4Vah9LEYrLNDhjay13NXA2V1E/view?usp=sharing" target="_blank">View Documentation</a></li>
        </ul>
      </div>
    </div>
  </nav>