<div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-xs-6 col-xs-offset-3">
          <h4 class="text-center">Sort By: <%= select_tag "sort", options_for_select([  "Most Recently Updated", "Least Recently Updated", "Most Recently Created", "Least Recently Created", "Title: A-Z", "Title: Z-A" ], params[:sort]), class: "form-control", style: "text-align: center;  text-align-last: center;", onchange: "this.form.submit();" %></h4>
        </div>
      </div>