<% provide(:title, "Edit Subject") %>

<div class="text-center" id="edit-subject" style="margin-top: 5%; margin-bottom: 2%;">
  <h1>Editing "<%= @subject.subject %>" Subject</h1>

  <%= render 'form' %>
</div>