<% provide(:title, "Add Subject") %>

<div class="text-center" id="new-subject" style="margin-top: 5%; margin-bottom: 2%;">
    <h1 id="new_subject_header">New Subject</h1>
    <%= render 'form' %>
  </div>

