<% provide(:title, "Add Subject") %>

  <style type="text/css">
  #new_subject_header{
      text-align: center;
  }
  #new-subject{
    margin-top: 5%;
    margin-bottom: 10%;
  }
</style>

  <%= render 'videos/nav' %>

  <div id="new-subject">
    <h1 id="new_subject_header">New Subject</h1>
    <%= render 'form' %>
  </div>

