<% provide(:title, "Your Subjects") %>

<div class="container">
    <div class="row">
      <div class="text-center col-lg-12">
        <h1><b>Your Subject Playlists</b></h1>
        <h4><%= pluralize @subjects.count, "Subjects" %> Total</h4>
      </div>
    </div>
  </div>

  <div class="container text-center">
    <%= form_tag your_subjects_path, method: :get do %>
      <%= render 'shared/sort_selection' %>
    <% end %><br>

    <div class="row">
      <%= render @subjects %>
    </div>
  </div>