@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap/theme';
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
@import url(https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css);


/* SHOW.HTML.ERB Page */

#uid {
    display: none;
}
.bs-example {
    margin: 50px;
}
#url {
    text-decoration: none;
}
#right_side_show {
    border: 1px solid black;
}
#note_area_show {
    overflow-y: scroll;
    height: 375px;
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
.save_to_local_show {
    float: left;
    margin-left: 45px;
    margin-top: 10px;
}
#create_show {
    width: 40px;
    margin-right: 10px;
}
/* _SHOW.HTML.ERB Page */

.caption {
    margin-left: 10px;
}
#videos {
    margin: 0 auto;
    width: 100%;
}
.box {
    margin: 15px;
    width: 340px;
}
.box img {
    margin-left: 9px;
}
#star-rating {
    margin-top: 10px;
    float: left;
}
#create {
    width: 40px;
    margin-right: 10px;
}
.save_to_local {
    margin-top: -68px;
    margin-left: 55px;
    margin-bottom: 10px;
    float: right;
    padding-bottom: 10px;
}
#warning {
    margin-left: 50px;
}
#comments {
    max-height: 500px;
    overflow: auto;
}
/* For header and footer */

.nav > li > span {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #9d9d9d;
}
#search_submit {
    margin-left: 10px;
    margin-top: 10px;
}
/* For video "_form.html.erb" => new AND edit pages */

textarea {
    padding-left: 10px;
}
#note_area {
    max-width: 100%;
    min-width: 100%;
    max-height: 300%;
    min-height: 300%;
}
iframe {
    width: 100%;
    height: 400px;
}
.insert_video {
    width: 60%;
}
.video_button {
    width: 15%;
}
#input_area {
    width: 100%;
    float: left;
}
#submit_btn {
    width: 100px;
    margin-left: 10px;
}
#video_form_btn {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    margin-top: -10px;
}
.rating {
    padding-top: 0px;
    padding-bottom: 10px;
}
#write_review {
    max-width: 100%;
    min-width: 100%;
    max-height: 300%;
    min-height: 300%;
}
#right_side {
    float: right !important;
    margin-top: 0px;
}
#video_title {
    width: 90%;
    float: right;
    margin-bottom: 10px;
}
#player {
    width: 100%;
}
#content {
    width: 80%;
    height: 300px;
}
#timestamp {
    width: 10%;
    height: 370px;
    float: left;
    border-style: solid;
    border-width: 1px;
    margin-top: 140px;
    font-size: 11px;
}
#form_content {
    width: 90%;
    float: right;
}
#button {
    width: 75% !important;
    float: left;
}
.btn-primary {
    width: 20%;
}
#review_section {
    margin-top: 20px;
}
#summary_content {
    margin-top: 20px;
    width: 90%;
    float: right;
    height: 30px;
}
/*    rows=>"5", cols=>"80"*/
/*# sourceMappingURL=custom.css.map */

/* Footer */
nav#footer{
    background: #222222;
    color: #ffffff;
    padding: 20px 0 15px 0;
}
nav#footer .fnav{ vertical-align: middle;}
ul.footer-social li{
    display: inline-block;
    margin-right: 10px;
}
nav#footer p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-top: 10px;
}
#footer i.fa {
    height: 30px;
    width: 30px;
    border: 2px solid #8c8c8c;
    font-size: 20px;
    padding: 4px 5px;
    border-radius: 50%;
    color: #8c8c8c;
    transition: all 0.5s;
}
#footer i.fa:hover{
    background: #FCAC45;
    border-color: #FCAC45;
    color: #ffffff;
}
#docs{
    color: #FCAC45;
    text-decoration: none;
}
@media (max-width: 603px){
    #tf-menu.navbar-default {
       background-color: rgba(0, 0, 0, 0.79);
    }
    #tf-works li.pull-right, #tf-works li.pull-left {
        margin-top: 10px;
        float: none !important;
        text-align: center;
        display: block;
    }
    label{
        float: none !important
    }
    .pull-left.fnav, .pull-right.fnav {
        float: none !important;
        text-align: center;
    }
    .hover-bg .hover-text {
        padding: 12% 10%;
    }
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
