<!-- EVERY page will have this section -->
<!DOCTYPE html>
<html>

<head>
  <title>VidEdu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  

  


  <style type="text/css">
  @import url(http://fonts.googleapis.com/css?family=Voltaire);
  .navbar{
    background: black;
    color: white;
    font-size: 12px;
    text-transform:uppercase;
    font-family:'Voltaire',Arial,sans-serif;
    letter-spacing:2px;
  }
  </style>
  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Spirit8 is a Digital agency one page template built based on bootstrap framework. This template is design by Robert Berki and coded by Jenn Pereira. It is simple, mobile responsive, perfect for portfolio and agency websites. Get this for free exclusively at ThemeForces.com">
  <meta name="keywords" content="bootstrap theme, portfolio template, digital agency, onepage, mobile responsive, spirit8, free website, free theme, themeforces themes, themeforces wordpress themes, themeforces bootstrap theme">
  <meta name="author" content="ThemeForces.com">

</head>

<body>

  <%= yield %> 

</body>

</html>



